@use "../base/variables" as *;

/*//////////CONTACT\\\\\\\\\\\\\\\*/
.redink-contact h2 {
    font-size: 45px !important;
    font-weight: $regular !important;
}
.redink-contact.lh {
    font-size: 24px !important;
    font-weight: $regular;
}
